@import '../components/colors.scss';
@import '../components/flex.scss';

@import '../light.scss';
@import '../dark.scss';

.comment-container {
  padding-left: 0.6rem;
}

.comment-img-container {
  padding: 0 0.5rem 0 0.5rem;

  .commentator-user-img {
    background-image: url(../images/Temp.jpg);
    background-size: cover;
    background-position: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}

.comment-top {
  padding-top: 0rem;

  .commentator-username {
    font-size: 1.2rem;
    padding-right: 0.25rem;
    font-weight: 700;
  }

  .comment-timestamp {
    font-size: 0.9rem;
  }
}

.comment-content {
  font-size: 0.9rem;
}

.comment-bot {
  border-top: 1px solid $greyD;
  padding-top: 0.2rem;

  .comment-number,
  .reaction-number {
    font-size: 0.8rem;
  }

  .comment-number {
    padding: 0 0.5rem 0 0.2rem;
  }

  .fa-comment {
    filter: invert(66%) sepia(9%) saturate(3545%) hue-rotate(340deg) brightness(99%) contrast(86%);
  }

  .reaction-number {
    padding-left: 0.2rem;
  }

  .fa-smile {
    filter: invert(94%) sepia(12%) saturate(4832%) hue-rotate(329deg) brightness(122%) contrast(98%);
  }
}