@import "./components/colors.scss";

.dark {
  .post-pic {
    // background-image: url(./images/Temp.jpg);
    background-size: cover;
    border-radius: 15px;
    width: 100%;
    height: 7rem;
  }

  &.App {
    background-color: $darkBG;
    background-image: url(./images/PatternD.svg);
  }

  .header-stars {
    background-image: url(./images/starsD.svg);
    background-repeat: no-repeat;
  }

  .write-post-btn {
    border: 7px solid #2a2a2a;
  }

  .fa-pencil-alt,
  .fa-bars,
  .fa-search {
    filter: invert(6%) sepia(0%) saturate(478%) hue-rotate(216deg)
      brightness(63%) contrast(76%);
  }

  .container {
    background-image: url(./images/containerD.svg);
    background-size: cover;

    .author-username {
      color: $greenD;
    }

    .post-timestamp {
      color: $greyD;
    }

    .likes {
      color: $greenD;
    }

    .likes-svg {
      color: $greenD;
    }

    .post-text-content {
      color: $darkL;
    }

    .post-hashtag {
      color: $greenM;
    }
  }

  .commentator-username {
    color: $greenD;
  }

  .comment-number {
    color: $greyD;
  }

  .reaction-number {
    color: $greyD;
  }

  .comment-timestamp {
    color: $greyD;
  }

  .comment-content {
    color: $darkL;
  }
}
