@import "./components/colors.scss";

.light {
  .post-pic {
    // background-image: url(./images/Temp.jpg);
    background-size: cover;
    border-radius: 15px;
    width: 100%;
    height: 7rem;
  }

  &.App {
    // background-color: $greenM;
    // background-image: url(./images/Pattern2.svg);

    &.light {
      background-color: white;
      background-image: url(./images/BGbigL.svg);
    }

    &.home-p {
      background-color: $greenM;
      background-image: url(./images/Pattern2.svg);
    }

    // &.w-b {
    //   background-color: $greenM;
    //   background-image: url(./images/Pattern2.svg);

    //   height: 7rem;
    // }
  }

  .header {
    // &.w-b {
    background-color: $greenM;
    background-image: url(./images/Pattern2.svg);

    // height: 7rem;
    // }
  }

  .header-stars {
    background-image: url(./images/stars.svg);
    background-repeat: no-repeat;
  }

  .write-post-btn {
    border: 7px solid white;
  }

  .top-btns {
    .fa-pencil-alt,
    .fa-bars,
    .fa-search {
      filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(32deg)
        brightness(115%) contrast(100%);
    }
  }

  .hashtag-box {
    &.grey {
      background-color: $greyM;
    }
    &.orange {
      background-color: $orange;
    }

    // background-color: $orange;

    .hashtag-delete {
      background-color: white;
    }
  }

  .container {
    background-image: url(./images/container.svg);
    background-size: 100%;
    background-repeat: no-repeat;

    .posts {
      .gade {
        background: linear-gradient(
          0deg,
          rgba(254, 254, 254, 0) 0%,
          rgb(255, 255, 255) 100%
        );
      }

      .author-username,
      .likes,
      .likes-svg {
        color: $greenD;

        &.liked {
          color: $orange;
        }
      }

      .post-timestamp {
        color: $greyD;
      }

      .post-text-content {
        color: $darkM;
      }

      .post-hashtag {
        color: $greenM;
      }

      .commentator-username {
        color: $greenD;
      }

      .comment-number,
      .reaction-number {
        color: $greyD;
      }

      .comment-timestamp {
        color: $greyD;
      }

      .post-bot {
        border-top: 1px solid $greyL;
      }

      .post-hr {
        background-color: $greyL;
      }
    }
  }

  .comment-content {
    color: $darkM;
  }

  .comment-bot {
    border-top: 1px solid $greyL;
  }

  .main-view {
    // min-height: 100vh;
    background-color: white;

    .post-bot {
      border-top: 1px solid $greyL;
    }
  }
  .author-username {
    color: $greenD;
  }

  .post-timestamp {
    color: $greyD;
  }

  .likes {
    color: $greenD;
  }

  .likes-svg {
    color: $greenD;
  }

  .post-text-content {
    color: $darkM;
  }

  .post-hashtag {
    color: $greenM;
  }

  .commentator-username {
    color: $greenD;
  }

  .comment-number {
    color: $greyD;
  }

  .reaction-number {
    color: $greyD;
  }

  .comment-timestamp {
    color: $greyD;
  }

  // .comment-content {
  //   color: $darkL;
  // }

  .menu-header {
    background-color: white;
  }

  // writepost & search text input

  .add-hash-wrap {
    gap: 1rem;
  }
  .hashtag-input-content {
    background: $greyL;
    color: $darkM;

    input {
      background: $greyL;
      color: $darkM;
    }
  }

  .write-post-file {
    &.file-upload::before {
      color: #889c38;
    }
  }

  ::-webkit-scrollbar {
    width: 3px;
    height: 0px;
  }
  ::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  ::-webkit-scrollbar-thumb {
    background: $orange;
    border: 0px none #ffffff;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: $orangeD;
  }
  ::-webkit-scrollbar-thumb:active {
    background: $orangeD;
  }
  ::-webkit-scrollbar-track {
    background: #ffffff;
    border: 0px none #ffffff;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-track:hover {
    background: #ffffff;
  }
  ::-webkit-scrollbar-track:active {
    background: #ffffff;
  }
  ::-webkit-scrollbar-corner {
    background: transparent;
  }

  .hashtag-input-content {
    border-radius: 4rem 11rem 11rem 4rem;
    padding: 0.3rem 0.4rem 0.3rem 1rem;
    margin-bottom: 0.5rem;
    grid-gap: 0.3rem;
    gap: 0.3rem;
    width: 100%;

    background: #e6e4e4;
    color: #555555;

    input {
      border: none;
      width: 100%;
      background: #e6e4e4;
      color: #555555;

      &:focus {
        outline: none;
      }
    }

    .btn {
      width: 2rem;
      height: 2rem;
      background-color: #d6843c;
      border-radius: 50%;
      justify-content: center;
      align-items: center;
      color: white;
    }
  }

  .nr {
    color: $darkM;
    font-weight: 600;
  }

  .menu-item {
    color: $greyD;
  }

  .menu-item-theme {
    color: $greyD;
  }

  .settings-main {
    color: $greyD;

    .file-upload::before {
      background: white;
      color: $orange;
    }
  }

  .input-settings {
    border: none;
    width: 100%;

    border-radius: 4rem 11rem 11rem 4rem;
    padding: 0.3rem 0.4rem 0.3rem 1rem;
    margin-bottom: 0.5rem;
    gap: 0.3rem;
    background: $greyL;
    color: $darkM;

    &:focus {
      outline: none;
    }
  }
}
