// STANDARD

$greenD: #889c38;
$greenM: #a4b843;
$greenL: #c1d44e;

$greySL: #f0f0f0;
$greyL: #e6e4e4;
$greySM: #cecece;
$greyM: #b2b2b2;
$greyD: #949494;

$orange: #d6843c;
$orangeD: #d8741d;
$red: #e84242;

// DARK

$darkD: #2a2a2a;
$darkM: #555555;
$darkL: #b8b8b8;

$darkBG: #363636;
$darkPattern: #474747;
