
// STANDARD

$greenD: #889C38;
$greenM: #A4B843;
$greenL: #C1D44E;

$greyL: #E6E4E4;
$greyM: #B2B2B2;
$greyD: #949494;

$orange: #D6843C;



// DARK

$darkD: #2A2A2A;
$darkM: #555555;
$darkL: #B8B8B8;

$darkBG: #363636;
$darkPattern: #474747;